/* reset */
/* html,body{
    margin: 0;
    padding: 0;
} */

#s10{
    margin: 20px;
}

#s10 .box{
    height: 300px;
    background-color: gray;

    position: relative;
    overflow: auto;

}

#s10 .item{
    font-size: 30px;
    font-weight: bold;
    color:#fff;

    position: absolute;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    background-color: lightgreen;

    display: flex;
    align-items: center;
    justify-content: center;

}