/* ver2 */
#calc2 div{
    display: grid;
    grid-template: repeat(6,50px) / repeat(4,50px);
}

#calc2 .text-area{
    grid-area: 1 / 1 / 2 / -1;
}


/* ver1 */
#calc1 div{
    display: grid;
    grid-template: repeat(6,50px) / repeat(4,50px);
}

#calc1 .text-area{
    grid-area: 1 / 1 / 2 / -1;
}